@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

.App {
  text-align: center;
}


.navbar{
  width: 100%;
}
.navbar-brand{
  width: 100%;
}
.logo{
  width: 100px;
}
h2{
  font-family: Poppins, sans-serif;
  text-align:center;
  font-weight: bold;
  font-size: bolder;
}

div .img{
  display: flex;
}
.bg-img{
  margin: 0 auto;
 
  max-width: 100%;
  background-size: cover;
  height: 700px;
}

.container{
  display: flex;
}
.about-img{
  width: 450px;
  height: 250px;
  margin-top: 5rem;
  
}
h1{
  font-size: larger;
  font-weight: 700;
  font-size: 1.875rem;
    line-height: 2.25rem;
}


.event1{
  max-width: 100%;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1.2rem;
}

.btn {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Home styling  */

.home-section {
  background-color: #f8f9fa;
  padding: 80px 0;
}

.home-section h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 30px;
}

.home-section p.lead {
  font-size: 24px;
  margin-bottom: 50px;
}

.home-section .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-size: 18px;
  padding: 20px;
  margin-top: 30px;
}

.home-section .btn-success {
  background-color: #28a745;
  border-color: #28a745;
  font-size: 18px;
  padding: 20px;
  margin-top: 30px;
}

.home-section .btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  font-size: 18px;
  padding: 20px;
}

.home-section .card {
  border: none;
}

.home-section .card-body {
  text-align: center;
}

.home-section .card-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.home-section .card-text {
  font-size: 18px;
  margin-bottom: 30px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.d-flex{
  width: 40vw;
  display: flex;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  margin-right: 2rem;
}

.navbar-brand{
  color: white;
}

.navbar.navbar-nav.nav-item li a {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}

.button{
  margin: 5px;
}

.about-us {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.animated-circle {
  width: 300px;
  height: 300px;
  background-color: #007bff;
  border-radius: 50%;
  position: relative;
  margin: 50px auto;
  animation: pulse 2s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

/* Event CSS  */

#event1,
#event2,
#event3 {
  background-color: #f8f9fa;
}

/* Set card height and border radius */
.card {
  height: 100%;
  border-radius: 10px;
}

/* Set card image height and border radius */
.card-img-top {
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Set card title and description text alignment */
.card-title,
.card-text {
  text-align: center;
}

/* Set card footer text alignment */
.card-footer {
  text-align: center;
}

/* Dashboard CSS */


      /*box sizing*/
      * {
        box-sizing: border-box;
      }
      body {
        position: relative;
        margin: 0;
        padding: 0;
        font-family: 'Raleway', Helvetica, Arial,     sans-serif;
        background-color: #d5dae5;
        -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }
        /*Header and logo styling*/
      .header {
        position: absolute;
        width: 100%;
        z-index: 3;
        height: 46px;
        background-color: #fff;
        border-bottom: 1px solid #777;
      }
      /* logo in header(mobile version) and side-nav (tablet & desktop) */
      .logo {
        height: 44px;
        padding: 10px;
        font-weight: 700;
      }
      .header .logo {
        color: #233245;
      }
      .side-nav .logo {
        background-color: #233245;
        color: #fff;
      }
      .header .logo {
        float: left;
      }
      .header .logo {
        height: 44px;
        z-index: 1;
        padding: 10px;
        font-weight: 700;
        color: #233245;
      }
      .logo  i {
        font-size: 22px;
      }
      .logo span {
        margin-left: 5px;
        text-transform: uppercase;
      }
      .nav-trigger {
        position: relative;
        float: right;
        width: 20px;
        height: 44px;
        right: 30px;
        display: block;	
      }
      .nav-trigger span, .nav-trigger span:before, span:after {
        width: 20px;
        height: 2px;
        background-color: #35475e;
        position: absolute;
      }
      .nav-trigger span {
        top: 50%;
      }
      .nav-trigger span:before, .nav-trigger span:after {
        content: '';
      }
      .nav-trigger span:before {
        top: -6px;
      }
      .nav-trigger span:after {
        top: 6px;
      }
      
      /* style for side navigation */
      .side-nav {
        position: absolute;
        width: 220px;
        height: 100vh;
        background-color: #282639;
        z-index: 1;
        display: none;
      }
      .side-nav.visible {
        display: block;
      }
      .side-nav ul {
        margin: 0;
        padding: 0;
      }
      .side-nav ul li {
        padding: 16px 16px;
        border-bottom: 1px solid #3c506a;
        position: relative;
      }
      .side-nav ul li.active:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #eaedf3;
      }
      .side-nav ul li a {
        color: #fff;
        display: block;
        text-decoration: none;
      
      }
      /*hover over*/
      .side-nav ul li a:hover {
        background: #302d43;
        color: #fff;
        border-right: 5px solid #92cf48;
        padding: 5px;
        transition: all .25s ease-in-out;
      }
      .side-nav ul li i {
        color: #92CF48;
        min-width: 20px;
        text-align: center;
      }
      .side-nav ul li span:nth-child(2) {
        margin-left: 10px;
        font-size: 12px;
        font-weight: 580;
      }
      /* main content styles */
      .main-content {
        padding: 43px;
        margin-top: 0;
        padding: 0;
        padding-top: 46px;
        height: 100%;
        overflow: scroll;
      }
      .main-content .title {
        background-color: #eef1f7;
        border-bottom: 2px solid #b8bec9;
        padding: 12px 470px;
        font-weight: 700;
        color: #333;
        font-size: 18px;
      }
      /*.table {
        border-collapse: collapse;
        border-style: hidden;
      }
      .table td {
        border: 2px solid black;
      }*/
      /* set element styles to fit tablet and higher(desktop) */
      @media screen and (min-width: 600px) {
        .header {
          background-color: #35475e;
          z-index: 1;
        }
        .header .logo {
          display: none;
        }
        .nav-trigger {
          display: none;
        }
        .nav-trigger span, .nav-trigger span:before, span:after {
          background-color: #fff;
        }
        .side-nav {
          display: block;
          width: 70px;
          z-index: 2;
        }
        .side-nav ul li span:nth-child(2) {
          display: none;
        }
        .side-nav .logo i {
          padding-left: 12px;
        }
        .side-nav .logo span {
          display: none;
        }
        .side-nav ul li i {
          font-size: 25px;
        }
        .side-nav ul li a {
          text-align: center;
        }
        .main-content {
          margin-left: 70px;
        }
      }
      /* set element styles for desktop */
      @media screen and (min-width: 800px) {
        .side-nav {
          width: 200px;
        }
        .side-nav ul li span:nth-child(2) {
          display: inline-block;
        }
        .side-nav ul li i {
          font-size: 16px;
        }
        .side-nav ul li a {
          text-align: left;
        }
        .side-nav .logo i {
          padding-left: 0;
        }
        .side-nav .logo span {
          display: inline-block;
        }
        .main-content {
          margin-left: 200px;
        }
      }
      
      /* main content in box container */
      .main {
        display: flex;
        flex-flow: row wrap;
      }
      .widget {
        flex-basis: 300px;
        flex-grow: 10;
        height: 400px;
        margin: 15px;
        border-radius: 6px;
        background-color: #ffffff;
        position: relative;
      }
      .widget .title {
        background-color: #eef1f7;
        border-bottom: 1px solid #dfe4ec;
        padding: 10px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        color: #617085;
        font-weight: 600;
      }
      
      

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa{
   padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

@media(max-width: 500px){
  .navbar{
    width: 100%;
  }
}
/* Set a specific color for each brand */


/* Attendees CSS  */

/* Custom CSS for user profile page */

.container {
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.col-md-4 {
  text-align: center;
}

.img-fluid {
  max-width: 200px;
}

.col-md-8 {
  padding-left: 40px;
}

ul.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item a {
  display: inline-block;
  background-color: #f5f5f5;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  text-decoration: none;
}

.list-inline-item a:hover {
  background-color: #333;
  color: #fff;
}

@media (max-width: 768px) {
  .col-md-4, .col-md-8 {
    text-align: center;
    padding-left: 0;
  }
  
  .img-fluid {
    max-width: 150px;
  }
}

/* About CSS  */


h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
span, a, a:hover {
display: inline-block;
text-decoration: none;
color: inherit;
}
.section-head {
margin-bottom: 60px;
}
.section-head h4 {
position: relative;
padding:0;
color:#f91942;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
margin-bottom:30px;
}
.section-head h4:before {
content: '';
width: 60px;
height: 3px;
background: #f91942;
position: absolute;
left: 0px;
bottom: -10px;
right:0;  
margin:0 auto;
}
.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#2f2f2f
}
p.service_text{
color:#cccccc !important;
font-size:16px;
line-height:28px;
text-align:center;    
}
.section-head p, p.awesome_line{
color:#818181;
font-size:16px;
line-height:28px;
text-align:center;  
}

.extra-text {
font-size:34px;
font-weight: 700;
color:#2f2f2f;
margin-bottom: 25px;
position:relative;
text-transform: none;
}
.extra-text::before {
content: '';
width: 60px;
height: 3px;
background: #f91942;
position: absolute;
left: 0px;
bottom: -10px;
right: 0;
margin: 0 auto;
}
.extra-text span {
font-weight: 700;
color:#f91942;
}
.item {
background: #fff;
text-align: center;
padding: 30px 25px;
-webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
border:5px solid rgba(0, 0, 0, 0.07);
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover{
background:#f91942;
box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
color:#fff;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item .icon {
font-size: 40px;
margin-bottom:25px;
color: #f91942;   
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}
.item .feature_box_col_one{
background:rgba(247, 198, 5, 0.20);
color:#f91942
}
.item .feature_box_col_two{
background:rgba(255, 77, 28, 0.15);
color:#f91942
}
.item .feature_box_col_three{
background:rgba(0, 147, 38, 0.15);
color:#f91942
}
.item .feature_box_col_four{
background:rgba(0, 108, 255, 0.15);
color:#f91942
}
.item .feature_box_col_five{
background:rgba(146, 39, 255, 0.15);
color:#f91942
}
.item .feature_box_col_six{
background:rgba(23, 39, 246, 0.15);
color:#f91942
}
.item p{
font-size:15px;
line-height:26px;
}
.item h6 {
margin-bottom:20px;
color:#2f2f2f;
}
.mission p {
margin-bottom: 10px;
font-size: 15px;
line-height: 28px;
font-weight: 500;
}
.mission i {
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
background: #f91942;
border-radius: 50%;
color: #fff;
font-size: 25px;
}
.mission .small-text {
margin-left: 10px;
font-size: 13px;
color: #666;
}
.skills {
padding-top:0px;
}
.skills .prog-item {
margin-bottom: 25px;
}
.skills .prog-item:last-child {
margin-bottom: 0;
}
.skills .prog-item p {
font-weight: 500;
font-size: 15px;
margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
width: 100%;
height: 10px;
background: #e0e0e0;
border-radius:20px;
position: relative;
}
.skills .prog-item .skills-progress span {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: #f91942;
width: 10%;
border-radius: 10px;
-webkit-transition: all 1s;
transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
content: attr(data-value);
position: absolute;
top: -5px;
right: 0;
font-size: 10px;
font-weight:600;    
color: #fff;
background:rgba(0, 0, 0, 0.9);
padding: 3px 7px;
border-radius: 30px;
}


body {
  background-color: #f8f9fa;
}

.dashboard-container {
  margin-top: 30px;
}

.dashboard-card {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.dashboard-card h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.dashboard-card p {
  margin-bottom: 0;
}

.dashboard-card .btn {
  margin-top: 10px;
}

.dashboard-card .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.dashboard-card .btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.dashboard-card .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.dashboard-card .btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

@media (max-width: 576px) {
  .dashboard-container {
    margin-top: 15px;
  }
  
  .dashboard-card {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .dashboard-card h3 {
    font-size: 18px;
  }
}


/* Footer CSS  */

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
  margin-right: 10px;

}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 4px;
}
.cta-text {
  padding-left: 0px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-right: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 100px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 12px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}